@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: antiquewhite;
  font-family: "Roboto", sans-serif;
}
.fraza {
  padding: 50px;
  margin: 100px;
  background-color: brown;
  border-radius: 20px;
  box-shadow: 0 8px 7px 0px #6e6e6e;
}

#FrazaID {
  font-size: 40px;
  text-align: center;
}
a {
  text-decoration: none;
  color: white;
}

.marginauto {
  margin: 50px auto 20px;
  display: block;
  box-shadow: -1px 9px 7px 0px #6e6e6e;
  border-radius: 25px;
}

.photo {
  padding-top: 100px;
  text-align: center;
}

.posil {
  background-color: rgba(45, 134, 250, 0.795);
  border-radius: 20px;
  margin: 50px 50px;
  padding: 10px;
  box-shadow: -1px 9px 7px 0px #6e6e6e;
}

#poslanie {
  text-align: center;
  font-size: 30px;
  color: white;
}
