body {
  background-color: #f1f1f1;
  color: #0f141e;
  font: normal 16px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  max-width: 800px;
  margin: auto;
}

.polosa {
  color: black;
}
.works_2 {
  color: rgb(255, 255, 255);
  position: relative;
  text-align: center;
}

.table {
  background: #0f141e;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 5px 11px 11px 0px rgb(0 0 0 / 50%);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* .github {
  margin: 10px;
  border-radius: px;
  text-align: center;
  padding: 40px;
  background-image: url("https://avatars.mds.yandex.net/get-zen_doc/3512190/pub_5fbcb4f59e8324570564fc9a_5fbcb5054b9b1b331d9a5143/scale_1200");
  box-shadow: 5px 11px 11px 0px rgb(0 0 0 / 50%);
  font-size: 30px;
} */

.logo {
  width: 400px; /* Ширина слоя в пикселах */
  height: 300px; /* Высота слоя в пикселах */
  margin: auto;
}

#github {
  width: 350px;
  border-radius: 20px;
  box-shadow: 5px 11px 11px 0px rgb(0 0 0 / 50%);
}
